* {
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

body {
    height: 100vh;
    width: 100vh;
    background: linear-gradient(
            148deg, rgb(255, 255, 255) 0%,
            rgb(140, 69, 167) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    background-color: rgb(244, 244, 244);
    border-radius: 40px;
    border: solid 10px rgba(255, 255, 255, 0.183);
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-clip: padding-box;
}

.app-header {
    width: 100%;
    background-color: rgba(255, 255, 255);
    display: flex;
    padding: 20px;
    border-bottom: 1px solid rgb(191, 191, 191);
}

h1, p {
    padding: 1px;
    margin: 0;
}

h1 {
    font-size: 23px;
}

p {
    color: rgba(145, 145, 145);
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(140, 69, 167);
    margin-right: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    padding: 30px;
    position: relative;
}

.input-container input {
    width: 100%;
    padding: 20px;
    border: 1px solid rgb(191, 191, 191);
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.input-container button {
    position: absolute;
    bottom: 38px;
    right: 40px;
    border: none;
    font-size: 40px;
    color: rgb(140, 69, 167);
    background-color: transparent;
}

.input-container button:focus {
    color: rgb(66, 33, 79);
}

.input-container button:active {
    color: rgb(189, 27, 253);
}

input:focus {
    outline: none;
}

.messages-container {
    padding: 30px;
    overflow-y: scroll;
}

.message {
    padding: 20px;
    border: 1px solid rgb(191, 191, 191);
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    margin: 10px 0;
}



